@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
 *{
	 
	 margin:0;
 }
 
body{
	height:70vh;
    display: flex;
    align-items: relative;
    justify-content: relative;
    background: #f1556a;
    overflow-x: hidden;
}
.setting{
    display: flex;
    position: relative;
    max-width: 700px;
    width: 400%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0.2, 0, 0.3);
    overflow: hidden;
    margin: 20px 20px;
	flex-wrap:wrap;
	padding:15px;
}

.setting2{
    display: flex;
    position: relative;
    max-width: 700px;
    width: 400%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0.2, 0, 0.3);
    overflow: hidden;
    margin: 20px 20px;
	padding:15px;
	flex-wrap:wrap;
}
.setting .tabshow{
    transition: all .5s ease-in;
    width: 80%;
	padding: absolute;
}
.setting2 .tabshow2{
    transition: all .5s ease-in;
    width: 90%;
    padding: absolute;
	
}

 .setting.h1 {
     font-family: 'Poppins', sans-serif;
     color: rgb(4, 3, 3);
     font-size: 27px;
    letter-spacing: 2px;
     margin-top: 40px;
     margin-bottom: 40px;
	
 }
  .setting2.h1 {
	 
     font-family: 'Poppins', sans-serif;
     color: rgb(4, 3, 3);
     font-size:27px;
	 font-weight:600;
     margin-top: 40px;
	 letter-spacing: 2px;
     margin-bottom: 40px;
	 
 }
 .setting .h2 {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    margin-left: 2px;
    margin-top: 10px;
 }
 .setting2 .h2 {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    margin-left: 2px;
    margin-top: 10px;
 }
.setting .input, p{
    border: 0;
    border-bottom: 1px solid #f1556a;
   width: 50%;
    font-family: 'Poppins', sans-serif;
    font-size: .8em;
	
    padding: 7px 0;
    color: #070707;
    outline: none;
}
.setting2 .input, p{
    border: 0;
    border-bottom: 1px solid #f1556a;
   width: 180%;
    font-family: 'Poppins', sans-serif;
    font-size: .8em;
    padding: 7px 0;
    color: #070707;
    outline: none;
}
.setting .span {
    font-size: .7em;
    color: rgb(221, 70, 190);
}
.setting2 .span {
    font-size: .7em;
    color: rgb(221, 70, 190);
}

.setting2 .btn {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    border: 1px;
    color: rgb(17, 16, 17);
    background:#f1556a ;
    padding: 7px 15px;
    box-shadow: 0px 2px 4px 0px 
    rgba(0,e,0,.2);
    cursor: pointer;
    margin-left: 15px;
}
.setting .btn {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    border: 1px;
    color: rgb(17, 16, 17);
    background:#f1556a ;
    padding: 7px 15px;
    box-shadow: 0px 2px 4px 0px 
    rgba(0,e,0,.2);
    cursor: pointer;
    margin-left: 15px;
}


.setting .btn:hover{
    text-decoration: bold;
    background-color: #a80e6d;
    transition: all 2s ease-in;
}
.setting2 .btn:hover{
    text-decoration: bold;
    background-color:#a80e6d;
    transition: all 2s ease-in;
}

